.home-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.auth-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-form {
  width: 450px;
  height: 400px;
  background-color: var(--accent);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(73, 101, 128, 0.25);
}

.error {
  color: red;
  font-size: 12px;
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.auth-input {
  background-color: #d0d8df;
  color: var(--text-h);
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--text-h);
  font-size: 18px;
}

.auth-form button {
  align-self: center;
  text-align: center;
  width: 100px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid var(--text-h);
  font-size: 18px;
  background: var(--text-h);
  color: var(--accent);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.auth-form h2 {
  margin: 20px 0px 40px 0px;
}

.auth-form button:hover {
  background-color: #384f66;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.auth-form button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Sidebar */

.user-search-results {
  width: 500px;
  display: flex;
  flex-direction: column;

  background: white;

  border: 1px solid #ddd;
}

.user-search-results button {
  padding: 12px;

  text-align: left;

  border: 0;
  background: grey;
  color: white;
}

.user-search {
  padding: 12px;

  position: relative;
}

.user-search input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
}

.conversation-sidebar {
  margin-top: 70px;
  width: 300px;
  height: 800px;
  background: var(--accent);

  border-right: 1px solid #ddd;
  border-radius: 5px;

  overflow-y: auto;
}

.conversation-list {
  display: flex;
  flex-direction: column;
}

.conversation {
  padding: 16px;

  text-align: left;

  border: 0;
  border-bottom: 1px solid #eee;
  border-radius: 5px;
  color: var(--bg);
  background: var(--accent);
}

.conversation-active {
  padding: 16px;
  background: var(--text);
  border-radius: 5px;
  color: var(--bg);
  text-align: left;
}
